<form method="post" action="/exhibits/<%=@exhibit.id%>/edit">
   <label for="title">Title:</label>
   <input id="title" type="text" name="title"/>

   <label for="exhibit_date">Exhibit Date:</label>
   <input id="exhibit_date" type="text" name="exhibit_date"/>

   <label for="artist_id">Artist ID:</label>
   <input id="artist_id" type="number" name="artist_id"/>

   <input type='Submit' value="Update Exhibit"/>
 </form>
