<h1>Manage Exhibits</h1>
<% @exhibits.each do |exhibit| %>
<p>Title: <%= exhibit.title() %></p>
<p>Exhibit Date: <%= exhibit.exhibit_date() %></p>
<p>Artist ID: <%= exhibit.artist_id() %></p>
<a href="/exhibits/<%=exhibit.id%>">Show Exhibit</a>
<% end %>
<br>
<br>
<br>
<a href="/exhibits/new">Create New Exhibit</a>
