<!DOCTYPE html>
	<html lang="en">
	<head>
	  <title>ArtSpace</title>
	</head>
	<body>
		<nav id="menu">
		  <ul>
 	      <li class="menu-item"><a href="/artists">ARTISTS</a>
 	      </li>
 	      <li class"menu-item"><a href="/exhibits">EXHIBITS</a>
 	      </li>
			</li>
 	    </ul>
 	  </nav>
 	  <%= yield %>
 	</body>
 	</html>
