<!DOCTYPE html>
	<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
		<title>ArtSpace</title>
	</head>
	<body>

		<div class="logo">
			<img src="/images/artspace1.jpg" class = "logo" alt="Gallery Logo"/>
		</div>
		<nav id="menu">
			<ul>
				<li><a href="/artists">Manage Artists</a>
				</li>
				<li><a href="/exhibits">Manage Exhibits</a>
				</li>

			</li>
			</ul>

		</nav>
 	  <%= yield %>
 	</body>
 	</html>
