<!DOCTYPE html>
	<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/styles/style.css">
	  <title>ArtSpace</title>
	</head>
	<body>
		<nav id="menu">
		  <ul>
 	      <li class="menu-item"><a href="/artists">Manage Artists</a>
 	      </li>
 	      <li class"menu-item"><a href="/exhibits">Manage Exhibits</a>
 	      </li>
			</li>
 	    </ul>
 	  </nav>
 	  <%= yield %>
 	</body>
 	</html>
