<form method="post" action="/artists/<%=@artist.id%>/edit">
   <label for="name">Name:</label>
   <input id="name" type="text" name="name"/>

   <label for="dob">DOB:</label>
   <input id="dob" type="text" name="dob"/>

   <input type='Submit' value="Update Artist"/>
 </form>
