<h1>Manage Artists</h1>
  <% @artists.each do |artist| %>
  <p>Name: <%= artist.name() %></p>
  <p>: <%= artist.dob %></p>
  <a href="/artists/<%= artist.id %>">Show Artist</a>
<% end %>
<br>
<br>
<br>
<a href="/artists/new">Create New Artist</a>
